#rps {
    height: 250px;
    margin: 20px;
}

#user {
    background-color: #ff6666;
    font-size:30px;
    height: 200px;
}

#computer {
    background-color: #ff9966;
    font-size:30px;
    height: 200px;
}
#result{
    font-size:30px;
}